body{
    background-color: aquamarine;
    color: blue;
    animation: ani 5s infinite;
}

h1::before{
    content: "H1: ";
    color: red;
}

h3{
    color: blueviolet;
    transition: all;
}

@keyframes ani {
    0%{
        background-color: coral;
    }
    100%{
        background-color: aquamarine;
    }
}